<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_6</display-name>
  <context-param>
  	<param-name>color</param-name>
  	<param-value>red</param-value>
  </context-param>
   <context-param>
  	<param-name>font</param-name>
  	<param-value>arial</param-value>
  </context-param>
	<servlet>
		<servlet-name>abc</servlet-name>
  		<servlet-class>com.servlet.MyServlet</servlet-class>
  		
			<init-param>
				<param-name>user</param-name>
				<param-value>root</param-value>
			</init-param>
			<init-param>
				<param-name>pass</param-name>
				<param-value>vijay</param-value>
			</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>
</web-app>